<div class = "jumbotron text-center" ng-if="!main.loggedIn">

	<div>
		<h1>Sign up here to do what you want</h1>
	</div>

	<div>
		<h3>Login to add your ToDo</h3>
		<a href="/login" class="btn btn-primary">Login</a>
	</div>
	
</div>

<div class="row" ng-if="main.loggedIn">

<div class="col-md-3"></div>
<div class="col-md-6" ng-controller = "todoController as todo">
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">Add Your ToDo</div>

			<div class="panel-body">
				<form ng-submit='todo.createTodo()'>

				<input class="form-control input-lg" type="text" ng-model="todo.todoData.content" placeholder="...." required></input>
					
				</form>
			</div>
		</div>

		<div class = "row">
			<div class="panel panel-success">
			<div class = "panel-heading">completed</div>
			<div class = "panel-heading panel-heading2">Todo</div>
				<div class="panel-body" ng-repeat = "each in todo.todos | reverse">
					<input class = "inline" type="checkbox" name="completed" value="completed" ng-model="vm.myChkModel" onchange="toggleCheckbox(this)">
					<p class = "inline todo panel-heading2" id="source">{{each.content}}</p>
				</div>
			</div>
		</div>

		<div class = "row">
			<div class="panel panel-success">
			<div class = "panel-heading">completed</div>
				<div class="panel-body" >
					<p id = "destination">This is where the element comes</p>
				</div>
				
			</div>
		</div>

	</div>
</div>
<div class="col-md-3"></div>
	
</div>