<div class="conainer" ng-controller="mainController as login">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<h1>Login</h1>
			<form  class = "form-signin" method="post" ng-submit="login.doLogin()">
				Username: <input type="text" name="username" class = "form-control" ng-model="login.loginData.username"></input>
				Password: <input type="password" name="password" class = "form-control" ng-model="login.loginData.password"></input>

				<button type="submit" class="btn btn-success">Login</button>
			</form>
		</div>
	</div>	
</div>