<div class="conainer" ng-controller="UserCreateController as user">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<h1>Sign Up</h1>
			<form class = "form-signin" method="post" ng-submit="user.signupUser()">
				Name: <input type="text" name="name" class = "form-control" ng-model="user.userData.name"></input>
				Username: <input type="text" name="username" class = "form-control" ng-model="user.userData.username"></input>
				Password: <input type="password" name="password" class = "form-control" ng-model="user.userData.password"></input>

				<button type="submit" class="btn btn-primary">SignUp</button>
			</form>
		</div>	
	</div>
</div>
