<!DOCTYPE html>
<html ng-app = "myapple">
<head >
	<base href="/">
	<title>Todo list</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="app/css/main.css">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>

	<!-- Services -->
	<script type="text/javascript" src="app/services/authService.js"></script>
	<script type="text/javascript" src="app/services/userService.js"></script>
	<script type="text/javascript" src="app/services/todoService.js"></script>

	<!-- controller -->
	<script type="text/javascript" src="app/controller/mainctrl.js"></script>
	<script type="text/javascript" src="app/controller/userCtrl.js"></script>
	<script type="text/javascript" src="app/controller/todoCtrl.js"></script>

	<!-- Directive -->
	<script type="text/javascript" src="app/directives/reverse.js"></script>

	<script type="text/javascript" src="app/app.routes.js"></script>

	<script type="text/javascript" src="app/js/app.js"></script>


</head>
<body ng-controller="mainController as main">
	<header>
		<div class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">

					<a href="/" class="navbar-brand"><span class="glyphicon glyphicon-queen"></span>Todo</a>
					
				</div>
				<ul class="nav navbar-nav">
					<li><a href="/users"></a></li>
					
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li ng-if="!main.loggedIn"><a href="/login">Login</a></li>
					<li ng-if="!main.loggedIn"><a href="/signup">Signup</a></li>
					<li ng-if="main.loggedIn"><a href="#">Hello {{ main.user.username}}</a></li>
					<li ng-if="main.loggedIn"><a href="#" ng-click="main.doLogout()">Logout</a></li>
				</ul>

			</div>
		</div>
	</header>

	<div class="container">
   		<div ng-view></div>
	</div>


</body>
</html>