html, body{height:100%; margin:0;padding:0}
 
.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}
 
.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}
 
 

.centering {
  float:none;
  margin:0 auto;
}
.inline, .panel-heading{
	display: inline-block;
}
.todo{
	margin-left: 20px
}
.panel-heading2{
	position: relative;
	left: 50px;

}